<div class="nav-container">
    <div class="nav">
        <div class="nav__logo">
            <img src="/assets/images/logo.svg" alt="">
        </div>
        <div class="nav__menu">
            <div class="nav__menu-category">Collections</div>
            <div class="nav__menu-category">Men</div>
            <div class="nav__menu-category">Women</div>
            <div class="nav__menu-category">About</div>
            <div class="nav__menu-category">Contact</div>
        </div>
    </div>
    <div class="options">
        <app-cart></app-cart>
        <app-account></app-account>
    </div>
</div>