<div class="cart-icon" (click)="openCart();toggleContent()">
  <div *ngIf="itemsNumber" class="preview">
    <div class="preview__number">{{itemsNumber}}</div>
  </div>
  <img src="/assets/images/icon-cart.svg" alt="" />
  <div class="cart-preview" *ngIf="showContent">
    <div class="cart-preview__title">Cart</div>
    <div class="cart-preview__items">
      <div class="cart-preview__empty" *ngIf="!itemsNumber">Your cart is empty</div>
      <div class="cart-preview__filled" *ngIf="itemsNumber">
        <div class="cart-preview__item">
          <img
            class="cart-preview__item-img"
            src="/assets/images/image-product-1-thumbnail.jpg"
          />
          <div class="cart-preview__item-text">
            <div class="cart-preview__item-text-title">
              Fall Limited Edition Sneakers
            </div>
            <div class="cart-preview__item-text-numbers">
              <div class="cart-preview__item-text-numbers-price" *ngIf="itemsNumber">{{sneakers.salePrice}}</div>
              <div class="cart-preview__item-text-numbers-amount" *ngIf="itemsNumber"> * {{itemsNumber}}</div>
              <div class="cart-preview__item-text-numbers-sum">{{sum}}</div>
            </div>
          </div>
          <div class="cart-preview__item-delete" (click)="removeItems()" ></div>
        </div>
        <div class="cart-preview__checkout">checkout</div>
      </div>
    </div>
  </div>
</div>
