<div class="container">
  <div class="product-container">
    <div class="images">
      <div class="images__main">
        <img class="big" src="/assets/images/image-product-1.jpg" alt="">
      </div>
      <div class="images__small"></div>
    </div>
    <div class="product-content">
      <div class="product-content__company">sneaker company</div>
      <div class="product-content__title">Fall Limited Sneakers</div>
      <div class="product-content__description">
        These low-profile sneakers are your perfect casual wear companion.
        Featuring a durable rubber outer sole, they’ll withstand everything the
        weather can offer
      </div>
      <div class="product-price">
        <div class="product-price__valid">$125.00</div>
        <div class="product-price__discount">50%</div>
        <div class="product-price__old">$250.00</div>
      </div>
      <div class="cart"></div>
    </div>
  </div>
</div>
